<div class="header">
    <div class="imag">
        <img src="../assets/img/logo.png" alt="logo du club de football">
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="/home"> accueil</a></li>
            <li>billeterie</li>
            <li><a href="/contact">contact</a></li>
            <li>A propos</li>
            <li class="icon"><img class="login" src="../assets/img/login-icon.svg" alt="logo de connexion">
            </li>
        </ul>
    </nav>
</div>
<div class="border"></div>
