<div class="border"></div>
<div class="footer">
    <div class="imag">
        <img class="logo" src="../assets/img/logo.png" alt="logo du club de football">
    </div>
    <div class="contact">
        <h2>NOUS CONTACTER</h2>
        <h3>Club KICKERS</h3>
        <p>2 Rue de la république<br>
            13009 Marseille<br>
            01 01 01 01 01<br>
            Email:contact&#64;kicker.com</p>
    </div>
    <div class="reseau">
        <h2>NOUS SUIVRE</h2>
        <img class="logo-reseau" src="../assets/img/facebook-logo.svg" alt="Icône de facebook">
        <img class="logo-reseau" src="../assets/img/youtube-logo.svg" alt="Icône de youtube">
        <img class="logo-reseau" src="../assets/img/instagram-logo.svg" alt="Icône d'Instagram">
    </div>
    <div class="droits"><p>© 2024 Kickers Club - Tous droits réservés</p></div>
</div>