<div class="pageContact">
    
    <form action="#" method="post">
        <h1>formulaire de contact</h1>
        <label  for="name">nom
            <input type="text" id="name" name="name" required>
        </label>
        <label for="firstname">prénom
            <input type="text" id="firstname" name="firstname" required>
        </label>
        <label for="email">email
            <input type="email" id="email" name="email" required>
        </label>
        <label for="telephone">téléphone
            <input type="tel" id="telephone" name="telephone" required>
        </label>
        <label for="objectMessage">objet du message 
            <input type="text" id="objectMessage" name="objectMessage">
        </label>
        <label for="file" class="label">joignez un fichier
            <span>Choisir un fichier</span>
            <input type="file" id="file" name="file">
        </label>
        <label for="message">message
            <textarea id="message" name="message" rows="10" cols="50"></textarea>
        </label>
        <div class="divButton">
            <input type="submit" id="button" value="Envoyer"> 
        </div>
    </form>
</div>
